@import "../variables"

.navigation-bar
    height: 60px
    border-bottom: 1px solid $off-white
    width: 100%
    position: fixed
    left: 0
    top: 0
    z-index: 1
    background: transparentize($dark-blue, 0.5)
    backdrop-filter: blur(1rem)

    @media screen and ( max-width: $screen-tablet )
        height: auto
        padding: 0.5rem 0

    nav
        height: 100%
        display: flex
        align-items: center

        @media screen and ( max-width: $screen-tablet )
            flex-direction: column
            align-items: flex-start
            gap: 0
            
            &.open .mobile-nav img
                transform: rotate(90deg)

            &:not(.open)
                .section-links
                    font-size: 0
                    line-height: 0
                    gap: 0
                    padding: 0

        .mobile-nav
            @include centered-flex
            flex-direction: row
            justify-content: space-between

            @media screen and ( max-width: $screen-tablet )
                width: 100%

            img
                height: 2rem
                display: none
                cursor: pointer
                padding: 0.25em
                margin: -0.25em
                transition: transform 0.3s ease-in-out

                @media screen and ( max-width: $screen-tablet )
                    display: block

        .section-links
            margin: 0
            padding: 0
            flex-grow: 1
            display: flex
            justify-content: end
            list-style: none
            gap: 2rem
            font-family: $font-header

            @media screen and ( max-width: $screen-tablet )
                gap: 1.5rem

            @media screen and ( max-width: $screen-tablet )
                flex-direction: column
                align-items: flex-start
                gap: 1rem
                padding: 1rem 0
                transition: all 0.3s ease-in-out

            a
                color: $off-white

                &:hover
                    color: white
