@import "../../../../variables"

.hero
    @include centered-flex
    justify-content: center
    height: calc(100dvh - 120px)

    .hero-content
        @include centered-flex
        
        p
            font-size: 1.25rem