@import "../variables"
    
.footer
    background: white
    color: $dark-blue
    text-align: center
    padding: 2rem 0

    a, a:hover
        color: $dark-blue

        &::before
            background: $dark-blue